{% extends 'base.html' %}

{% load staticfiles %}

{%block header%}
	<h1 class="header-heading">Hi! Guys</h1>
	<p>You dont't get older, you get better.</p>
{%endblock%}

{%block js_include%}
	<script src='https://www.google.com/recaptcha/api.js'></script>
	
	<script src="{% static 'home/js/home_main.js' %}"></script>
{%endblock%}

{%block sections%}
	<div id="friends" class="section">
		<div class="container">
			<div class="row">
				<h2 class="heading section-heading"></h2>						
			 </div>
			 
			 <div class="row">
				{%for friend in friends%}
					<div class="col-sm-4">
						<div class="thumbnail">
							<img src="{{friend.image_url}}">
							<div class="caption">
								<h4 >{{friend.user.get_full_name|default:friend.user.username}}<br><small>{{friend.date_of_birth}}</small></h4>
								<a class="btn btn-primary" href="posts/{{friend.user.username}}"><i class="fa fa-birthday-cake"></i></a>
							</div>
							</img>
						</div>
					</div>
				{%endfor%}
			 </div>
			 <p>this is the list of friends registed.
				 If you want your name out of the list mail me at
				  <a href="mailto:zkhan1093@gmail.com?Subject=Remove Me From Birthday List&Body=Remove my name from birthday list thank you" target="_top">zkhan1093@gmail.com</a></p>
		</div>
	</div>
	{% if not user.is_authenticated %}
	<div id="get_listed" class="section">
		<div class="container">
			<h2 class="heading section-heading">Get Listed</h2>							
			
		</div>
		<div class="container">
			<div class="row">
				{% if submit_status %}
					<div class="alert alert-success center" role="alert">
						Thank you, your request has been registered.
					</div>
				{%else%}
					<p>To see yourself in the list above fill out this form</p>
				{%endif%}
				<form enctype="multipart/form-data" method="post" action="." class="form">
				{% csrf_token %}
					{% for field in form.visible_fields%}
						<div class="form-group col-sm-6">
							{{field}}
							{% if field.errors%}
								<ul class="errorlist">
								{% for error in field.errors %}
									<li><i class="fa fa-asterisk"></i> {{error}}</li>
								{%endfor%}
								</ul>
							{%endif%}
						</div>
					{%endfor%}
					<button class=" col-xs-4 col-md-2 col-md-offset-5 col-xs-offset-4 btn btn-primary" type="submit" name="request_button">Submit Request</button>
				</form>			
			</div>
		</div>
	</div>
	{%endif%}
{%endblock%}
