{% extends 'base.html' %}

{% load staticfiles %}

{%block header%}
<div class="header">
	<h1 class="header-heading">Hello! {{request.user.get_full_name|default:request.user.username}}</h1>
</div>
{%endblock%}

{%block js_include%}
	<script src='https://www.google.com/recaptcha/api.js'></script>
{%endblock%}

{%block sections%}
	<div id="friends-section" class="section">
		<div class="container">
			<div class="row">
				<h2 class="heading section-heading">Your Friends</h2>						
			 </div>
			 
			 <div id="primary-friend-row" class="row">
				{%for friend in primary_friends%}
					{%ifequal primary_friends|length 1 %}
					<div class="col-sm-4 col-sm-offset-4">
					{%else%}
					<div class="col-sm-4 col-sm-offset-1">
					{%endifequal%}
						<div class="thumbnail">
							<img src="{{friend.image_url}}">
							<div class="caption">
								<h4 >{{friend.user.get_full_name|default:friend.user.username}}<br><small>{{friend.date_of_birth|date:"d, M"}}</small></h4>
								<a class="btn btn-primary" href="posts/{{friend.user.username}}"><i class="fa fa-birthday-cake"></i></a>
							</div>
							</img>
						</div>
					</div>
				{%endfor%}
			 </div>
			 <div id="friend-row" class="row">
				{%for friend in friends%}
					<div class="col-xs-6 col-sm-3">
						<div class="thumbnail">
							<img src="{{friend.image_url}}">
							<div class="caption">
								<h4 >{{friend.user.get_full_name|default:friend.user.username}}<br><small>{{friend.date_of_birth|date:"d, M"}}</small></h4>
								<a class="btn btn-primary" href="posts/{{friend.user.username}}"><i class="fa fa-birthday-cake"></i></a>
							</div>
							</img>
						</div>
					</div>
				{%endfor%}
			 </div>
		</div>
	</div>
	<!-- New Friend Requests List-->
	{%if request.user.friend.friend_requests|length > 0 %}
	<div id="friend-request-section"  class="section">
		<div class="container">
			<div class="row">
				<h2 class="heading section-heading">Do You Know Them ?</h2>						
			 </div>
			 <ul id="friend-request-list" class="friend-requests">
			 	{%for fr in request.user.friend.friend_requests%}
			 		<li id="request-{{fr.pk}}">
			 			<img width="50px" src="{{fr.from_person.image.url}}"/> <label>{{fr.from_person.user.get_full_name}}</label> - {{fr.from_person.user.email}} <button class="btn btn-primary btn-xs accept-request" data-pk="{{fr.pk}}" >Yes</button> <button class=" btn btn-default btn-xs reject-request" data-pk="{{fr.pk}}">No</button>
			 		</li>
			 	{%endfor%}
			 </ul>
		</div>
	</div>
	{%endif%}
	<!-- Add new Friend form-->
		<div id="new-friend-section" class="section">
		<div class="container">
			<div class="row">
				<h2 class="heading section-heading">Add new Friend</h2>						
			 </div>

			 <div id="add-friend-msg" class="col-sm-6 col-sm-offset-3" style="visibility:hidden; display:none;"></div>

			 <form id="add-friend-form" method="post">
			 	{%csrf_token%}
			 	{%for field in add_friend_form.visible_fields%}
			 		<div class="form-group col-sm-6 col-sm-offset-3">
			 			<label>{{field.label}}</label>
			 			{{field}}
			 		</div>
			 	{%endfor%}
			 	<div class="form-group col-sm-6 col-sm-offset-3">
			 		<button id="add-friend-submit-button" class="btn btn-primary" type="submit">Send Request</button>
			 	</div>
			 </form>
		</div>
	</div>
{%endblock%}
