{% extends 'base.html' %}
{% load staticfiles %}

{%block js_include%}
	
{%endblock%}

{% block header%}

	<div class="header" 
	style="
    padding-bottom:150px;
    {%if friend.header_image %}
		padding-top:400px;
		background:url('{{friend.header_image_url}}') no-repeat center;
		background-size: cover;
		background-position:center center;
		width: 100%;
	{%else%}
		padding-top:200px;
    {%endif%}
    ">
		<div class="header-box">
			<h1 class="header-heading">{%if friend.date_of_birth == today %}Happy Birthday {%endif%}{{friend.user.get_full_name|default:friend.user.username}}</h1>
			<div id="timer"></div>
			{% if friend.quote %}
			<p><i class="fa fa-quote-left fa-1x"></i> {{friend.quote}} <i class="fa fa-quote-right fa-1x"></i></p>
			{%endif%}
		</div>
	</div>
{%endblock%}
{%block sections%}
	<div class="section">
		<div class="container">
			<h2 class="heading section-heading">Posts for {{friend.user.get_full_name|default:friend.user.username}}</h2>
			
			<div class="row">
			{% for post in posts %}
				<div class="col-sm-4">
					<div class="thumbnail">
						{% if post.author.user == user%}
						<div class="delete-post" >
							<a href="delpost/{{post.id}}" title="Delete this post"><i class="fa fa-close"></i></a>
						</div>
						{%endif%}
						<img src="{{post.get_image_url }}"/>
						<div class="caption">
							{{post.caption}}
							<hr>
							Author - <a href="/posts/{{post.author.user.username}}">{{post.author.user.get_full_name}}</a>
							<hr>
							{% if post.comment_set %}
								
								<div >
									<ul class="comments">
									{% for comment in post.comment_set.all %}
										<li>
											{% if comment.author.user == user%}
												<div class="delete-comment" >
													<a href="delcmt/{{comment.id}}" title="Delete this comment"><i class="fa fa-close"></i></a>
												</div>
											{%endif%}
											<a href="/posts/{{comment.author.user.username}}" ><h6>{{comment.author.user.get_full_name}}</h6></a>
											<p>{{comment.comment}}</p>
										</li>
									{% endfor%}
									</ul>
								</div>
							{%endif%}
							{% if user.is_authenticated %}
								<form action="." method="post">
									{%csrf_token%}
									{% for field in comment_form.visible_fields %}
										<div class="form-group">
											{{field}}
										</div>
									{%endfor%}
									<input id="id_post" name="post" type="hidden" value="{{post.id}}">
									{% for field in comment_form.hidden_fields %}
										{{field.errors}}
									{%endfor%}
									<div class="form-group">
										<button class="btn btn-primary" name="comment_button" type="submit"><i class="fa fa-send"></i></button>
									</div>
								</form>
							{%endif%}
						</div>
					</div>
				</div>
			{% if forloop.counter|divisibleby:'3' %}
				</div>
				<div class="row">
			{%endif%}
			{% endfor %}
			</div>
		</div>
	</div>
	{% if user.is_authenticated %}
	<div class="section">
		<div class="container">
		<h2 class="heading section-heading">Create new post</h2>
			<form action="." method="post" enctype="multipart/form-data" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
				{% csrf_token %}
				{% for field in post_form.visible_fields%}
					<div class="form-group">
						{{field}}
						{% if field.errors %}
							<ul class="errorlist">
								{% for error in field.errors%}
									<li><i class="fa fa-asterisk"></i> {{error}}</li>
								{% endfor%}
							</ul>
						{% endif%}
					</div>
				{%endfor%}
				{% for hidden in post_form.hidden_fields %}
					{{ hidden }}
					{{ hidden.errors }}
				{% endfor %}
				<div class="form-group center">
					<input name="post_button" type="submit" class="btn btn-primary " value="Create" />
				</div>
			</form>
		</div>
	</div>
	{% endif %}
{% endblock%}
