{% extends 'base.html' %}

{% load staticfiles %}

{%block header%}
<div class="header">
	<h1 class="header-heading">Hi! Guys</h1>
	<p>You dont't get older, you get better.</p>
</div>
{%endblock%}

{%block js_include%}
	<script src='https://www.google.com/recaptcha/api.js'></script>
{%endblock%}

{%block sections%}
	<div id="friends" class="section">
		<div class="container">
			<div class="row">
				<h2 class="heading section-heading">Login</h2>
				<div class="col-sm-6 col-sm-offset-3" id="login-msg-main" style="visibility:hidden;display:none;"></div>
				<form id="login-form-main" action="/login/" method="post" >{% csrf_token%}
					{%for field in login_form.visible_fields%}
						<div class="form-group col-sm-6 col-sm-offset-3">
							<label>{{field.label}}</label>
							{{field}}
							<ul id="{{field.name}}_error" class="errorlist"></ul>
						</div>
					{%endfor%}
					<div class="form-group col-sm-4 col-sm-offset-4">
						<button id="login-button-main" name="login_button" class="btn btn-primary" type="Submit">Signin</button>
						<input type="reset" value="Reset" class="btn btn-default"/>
					</div>
				</form>
			 </div>
		</div>
	</div>
	<div id="get_listed" class="section" style="{% if user.is_authenticated %}display:none;{%endif%}">
		<div class="container">
			<h2 class="heading section-heading">Register</h2>							
			<p><span class="label label-danger">Note</span> You must have email of a friend who is already registered with us.</p>
		</div>
		<div class="container">
			<div class="row">
				{% if submit_status %}
					<div class="alert alert-success center" role="alert">
						Thank you, your request has been registered.
					</div>
				{%endif%}
				<form id="registration-form" enctype="multipart/form-data" method="post" action="." class="form">
				{% csrf_token%}
					{% for field in form.visible_fields%}
						
						<div class="form-group col-sm-6">
							<label>{{field.label}}</label>
							{{field}}
							
								<ul id="registration-form-{{field.name}}-errors" class="errorlist">
								{% for error in field.errors %}
									<li><i class="fa fa-asterisk"></i> {{error}}</li>
								{%endfor%}
								</ul>
						</div>
					{%endfor%}
					<div class="form-group col-sm-6 col-sm-offset-3 center">
						<button id="register-button" class="btn btn-primary btn-lg"  type="submit" name="request_button">Register</button> <button type="reset" class=" btn btn-default btn-lg">Reset</button>
					</div>
				</form>			
			</div>
		</div>
	</div>
{%endblock%}
