<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>happy birthday</title>
	<link rel="shortcut icon" href="{% static 'img/favicon.ico'%}"/>
	<!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
	
	<!--Fontawesome-->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	
	<!--Bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	
	<!--Global CSS-->
	<link href="{% static 'css/main.css'%}" rel="stylesheet">
	
	{% block head_block%}
	{% endblock %}
	
</head>
<body>
	<div class="sidebar">
		<a class="close-sidebar js-toggle-sidebar" ><i class="fa fa-close"></i></a>
		<div class="sidebar-container">
			<div id="login-msg" style="visibility:hidden;display:none;"></div>
			<div id="after-login">
			{% if user.is_authenticated %}
			
				<div class="thumbnail">
					<img src="{{user.friend.image_url}}">
				</div>
				<h4 class="heading">{{user.get_full_name}}</h4>
				<p>
					<strong class="heading">Username</strong><br>{{user.username}}<br>
					<strong class="heading">Email</strong><br>{{user.email}}<br>
					<strong class="heading">Date of Birth</strong><br>{{user.friend.date_of_birth}}<br>
					<strong class="heading">Number of Posts</strong><br>{{user.friend.post_set.count}}<br>
				</p>
				<form id="logout-form" class="sidebar-form" method="post">{% csrf_token%}
					<button id="logout-button" name="logout_button" class="btn btn-primary" type="Submit">Signout</button>
				</form>
			{% endif %}
			</div>
			<div id="before-login">
			{% if not user.is_authenticated %}
				<h4 class="heading">Login </h4>
				<form id="login-form" action="/login/" method="post" class="sidebar-form">{% csrf_token%}
					{%for field in login_form.visible_fields%}
						<div class="form-group">
							{{field}}
							<ul id="{{field.name}}_error" class="errorlist"></ul>
						</div>
					{%endfor%}
					<div class="form-group">
						<button id="login-button" name="login_button" class="btn btn-primary" type="Submit" >Signin</button>
					</div>
				</form>
			{% endif %}
			</div>
		</div>
	</div>
	<div id="wrap" class="wrapper">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="navbar-container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" arial-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="fa fa-bars"></span>
					</button>
					<a href="{% if is_index %}#home{% else %}/#home{%endif%}" class="navbar-brand">Birthdays</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse navbar-right">
					<ul class="nav navbar-nav">
						<li><a id='#friends' href="{% if is_index %}#friends{% else %}/#friends{%endif%}">Friends</a></li>
						<li><a id='#about' href="{% if is_index %}#about{% else %}/#about{%endif%}">About</a></li>
						<li><span class="btn-separator"></span></li>
						<li><a class="js-toggle-sidebar" id='#login'>
								<span class="fa fa-bars"></span>
								<span class="navbar-collapsed-text">Sidebar</span>
							</a>
						</li>
					</ul>
				</div>
				
			</div>
		</nav>
		
			{%block header%}{%endblock%}
		
		<div id="body" class="container">
			{%block sections%}{%endblock%}
		</div>
			
	</div>
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 left">
					&copy Birthdays 2015. All rights reserved.
				</div>
				<div class="col-xs-6 right">
					<a class="social-footer-icon facebook" href="#"><i class="fa fa-facebook"></i></a>
					<a class="social-footer-icon twitter" href="#"><i class="fa fa-twitter"></i></a>
				</div>
			</div>
		</div>
	</div>
	<!--Javascript-->
	<script>
		csrf_input="{%csrf_token%}"
	</script>
	<script src="{% static 'js/jquery-1.9.1.js' %}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
	{%block js_include%}{%endblock%}
</body>
</html>
